.profile-picture-root,
.profile-picture-root > img[alt="profile picture"] {
  display: block;
  width: 110px;
  height: 110px;
}
.profile-picture-root {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  margin: 0 auto;
}
