.card-stat-root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-stat-root > span:first-child {
  font-weight: var(--font-weight-2);
  font-size: 1.5rem;
  color: var(--color-primary-very-dark-desatured-blue);
  text-transform: uppercase;
  font-size: 1.25rem;
}

.card-stat-root > span:last-child {
  font-weight: var(--font-weight-1);
  color: var(--color-neutral-dark-gray);
  font-size: 0.7rem;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
}
